.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 100%;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.submitButton {
  width: 240px;
}