.fieldWrap {
  position: relative;
}

.input {
  width: 100%;
  padding-right: 40px;
}

.icon {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;

  path, circle {
    fill: #6F91BC;
  }
}