.fieldWrap {
  position: relative;
}

.input {
  width: 100%;
  padding-right: 40px;
}

.icon {
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 20px;

  path, circle {
    fill: #6F91BC;
  }

  &.error {
    path, circle {
      fill: #FF8080;
    }
  }

  &.success {
    path, circle {
      fill: #27B274;
    }
  }
}

.passwordErrors {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;
}